<div *ngIf="errorFlag"
     class="alert alert-danger text-center">
  {{errorMsg}}
</div>

<body>
<nav class="navbar fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="cl-text-white navbar-brand cl-text-bold">
        Restaurant Home Page
      </h1>
    </div>
  </div>
</nav>

<div class="container">
  <button class="btn btn-primary btn-block"
          routerLink="../restaurant/{{restaurant._id}}/currentorders">Current Orders
  </button>
  <br/>
  <button class="btn btn-primary btn-block"
          routerLink="../restaurant/{{restaurant._id}}/website">Profile
  </button>
  <button class="btn btn-primary btn-block"
          routerLink="../restaurant/{{restaurant._id}}/menu">Menu
  </button>
  <button class="btn btn-primary btn-block"
          routerLink="../restaurant/{{restaurant._id}}/orderhistory">Order History
  </button>
  <button class="btn btn-danger  btn-block"
          (click)="logout()" routerLinkActive="active">Logout
  </button>
  <button class="btn btn-danger  btn-block"
          (click)="deleteUser()" routerLinkActive="active">Delete
  </button>
</div>
