<nav class="navbar fixed-top cl-grey-navbar">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand cl-text-black cl-icon-padding"
               routerLink="../home">
                <i class="fas fa-angle-left"></i>
            </a>
            <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
                Current Order
            </h1>
        </div>
        <a class="navbar-brand cl-text-black float-right cl-icon-padding"
           routerLink="./new">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</nav>

<div class="container cl-container-padding-more">
    <div id="accordion" *ngFor="let order of orders; index as i">

            <div class="card">
                <div class="card-header container" id=x>
                    <h4 class="mb-1">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            {{order.time}}  Customer:{{order.user}}
                        </button>
                    </h4>

                    <div class="float-right">
                        <button class="btn btn-primary btn-small" [style.color]="buttoncolor"
                                (click)="sendtoAlldelivery(order)"
                                type="submit">Send to Delivery
                        </button>
                        <button class="btn btn-danger btn-small" [style.color]="buttoncolor"
                                (click)="cancelOrder(order)"
                                type="submit">Cancel Order
                        </button>
                    </div>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby=x data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Quantity</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let dish of order.dishes; index as j">

                            <tr>
                                <th scope="row">{{j + 1}}</th>
                                <td>{{dish.dish}}</td>
                                <td>{{dish.quantity}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
    </div>
</div>


<nav class="navbar fixed-bottom cl-grey-navbar">
    <div class="container-fluid">
        <a routerLink="/profile" class="navbar-brand cl-icon-padding cl-text-blue float-right">
            <i class="fas fa-user cl-text-blue"></i>
        </a>
    </div>
</nav>
