
<div id='cssmenu' class = "fixed-top">
  <ul>
    <li class='active'><a href='#'><span>Home</span></a></li>
    <li><a routerLink="/menu"><span>Menu</span></a></li>
    <li><a routerLink='/register'><span>Register</span></a></li>
    <li class='last'><a routerLink='/login'><span>Login</span></a></li>
  </ul>
</div>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-8 col-md-12">
        <h4 class="text-white text-uppercase">Wide Options of Choice</h4>
        <h1>
          Delicious Receipes
        </h1>
        <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        </p>
        <a routerLink="/menu" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start top-dish Area -->
<section class="top-dish-area section-gap" id="dish">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Our Top Rated Dishes</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="single-dish col-lg-4">
        <div class="thumb">
          <img class="img-fluid"  src="https://webdev-final-cs5610.herokuapp.com/assets/uploads/d1.jpg" alt="">
        </div>
        <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
        <p>
          inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
        </p>
      </div>
      <div class="single-dish col-lg-4">
        <div class="thumb">
          <img class="img-fluid"  src="http://localhost:8080/assets/uploads/d2.jpg" alt="">
        </div>
        <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
        <p>
          inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
        </p>
      </div>
      <div class="single-dish col-lg-4">
        <div class="thumb">
          <img class="img-fluid"  src="http://localhost:8080/assets/uploads/d3.jpg" alt="">
        </div>
        <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
        <p>
          inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End top-dish Area -->

<!--<button class="btn btn-primary btn-block"-->
        <!--type="submit"-->
        <!--routerLink="/login">Login-->
<!--</button>-->

<!--<button class="btn btn-primary btn-block"-->
        <!--type="submit"-->
        <!--routerLink="/register">Register-->
<!--</button>-->

<!--<button class="btn btn-primary btn-block"-->
        <!--type="submit"-->
        <!--routerLink="/menu">View Menu-->
<!--</button>-->

<!-- Start team Area -->
<section class="team-area section-gap" id="chefs">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Meet Our Qualified Chefs</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="img/t1.jpg" alt="">
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Ethel Davis</h4>
          <p>Managing Director (Sales)</p>
        </div>
      </div>
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="img/t2.jpg" alt="">
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Rodney Cooper</h4>
          <p>Creative Art Director (Project)</p>
        </div>
      </div>
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="img/t3.jpg" alt="">
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Dora Walker</h4>
          <p>Senior Core Developer</p>
        </div>
      </div>
      <div class="col-md-3 single-team">
        <div class="thumb">
          <img class="img-fluid" src="img/t4.jpg" alt="">
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="meta-text mt-30 text-center">
          <h4>Lena Keller</h4>
          <p>Creative Content Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End team Area -->

<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4 class="text-white">About Us</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4 class="text-white">Contact Us</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
          </p>
          <p class="number">
            012-6532-568-9746 <br>
            012-6532-569-9748
          </p>
        </div>
      </div>
      <div class="col-lg-5  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h4 class="text-white">Newsletter</h4>
          <p>You can trust us. we only send  offers, not a single spam.</p>
          <div class="d-flex flex-row" id="mc_embed_signup">


            <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
              <div class="input-group add-on">
                <input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
                <div class="input-group-btn">
                  <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                </div>
              </div>
              <div class="info mt-20"></div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p class="footer-text m-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <div class="footer-social d-flex align-items-center">
        <a href="#"><i class="fas fa-facebook"></i></a>
        <a href="#"><i class="fas fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->
