
<div id='cssmenu' class = "fixed-top">
  <ul>
    <li class='active'><a href='#'><span>Home</span></a></li>
    <li><a routerLink="/menu"><span>Menu</span></a></li>
    <li><a routerLink='/register'><span>Register</span></a></li>
    <li class='last'><a routerLink='/login'><span>Login</span></a></li>
  </ul>
</div>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-8 col-md-12">
        <h4 class="text-white text-uppercase">Wide Options of Choice</h4>
        <h1>
          Delicious Receipes
        </h1>
        <p class="text-white">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        </p>
        <a routerLink="/menu" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start top-dish Area -->
<section class="top-dish-area section-gap" id="dish">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Our Top Rated Dishes</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="single-dish col-lg-4">
        <div class="thumb">
          <img class="img-fluid"  src="../../../../../img/d1.jpg" alt="">
        </div>
        <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
        <p>
          inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
        </p>
      </div>
      <div class="single-dish col-lg-4">
        <div class="thumb">
          <img class="img-fluid"  src="../../../../../img/d2.jpg" alt="">
        </div>
        <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
        <p>
          inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
        </p>
      </div>
      <div class="single-dish col-lg-4">
        <div class="thumb">
          <img class="img-fluid"  src="../../../../../img/d3.jpg" alt="">
        </div>
        <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
        <p>
          inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End top-dish Area -->

<button class="btn btn-primary btn-block"
        type="submit"
        routerLink="/login">Login
</button>

<button class="btn btn-primary btn-block"
        type="submit"
        routerLink="/register">Register
</button>

<button class="btn btn-primary btn-block"
        type="submit"
        routerLink="/menu">View Menu
</button>
