@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
    background: #f96e5b;
    width: auto;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #333333;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #333333;
}
#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}
@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }
    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }
    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }
    #cssmenu ul li a:after {
        display: none;
    }
    #cssmenu ul li a:before {
        display: none;
    }
}



.banner-area{
    background:url(https://webdev-final-cs5610.herokuapp.com/assets/uploads/header-bg.jpg) right;
    background-size:cover
}
@media (max-width: 767.98px){
    .banner-area .fullscreen{
        height:700px !important
    }
}
.banner-area .primary-btn{
    padding-left:30px;padding-right:30px
}
.banner-content{
    text-align:left}
.banner-content h1{
    color:#fff;font-size:60px;font-weight:700;line-height:1em;margin-top:20px;margin-bottom:20px}
.banner-content h1 span{font-weight:700}@media (max-width: 991.98px){
    .banner-content h1{font-size:36px}}@media (max-width: 991.98px){
    .banner-content h1 br{display:none}}@media (max-width: 1199.98px){
    .banner-content h1{font-size:45px}}@media (max-width: 414px){.banner-content h1{font-size:40px}}.banner-content h4{font-weight:400;letter-spacing:3px}
.header-btn{background-color:#f42f2c;border:1px solid transparent;color:#fff}

footer-area h4{padding-bottom:30px}.footer-area .number{color:#f42f2c;font-size:24px;font-weight:600;line-height:30px}
.footer-area .genric-btn{background:#f42f2c;border:none;border-radius:57px;height:36px}
.footer-area .primary-btn{background-color:#f42f2c}
.footer-area .primary-btn:hover .lnr{color:#f42f2c}
.footer-area .footer-bottom{padding-top:40px}
.footer-area .footer-bottom a{color:#f42f2c}
.footer-area .footer-bottom .footer-social{text-align:right}
.footer-area .footer-bottom .footer-social a{background:#111111;margin:2px;padding:12px 16px;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}
.footer-area .footer-bottom .footer-social a:hover{background-color:#f42f2c}
.footer-area .footer-bottom .footer-social i{color:#cccccc;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}@media (max-width: 991.98px){
    .footer-area .footer-bottom .footer-social{text-align:left}}@media (max-width: 768px){.footer-area .footer-bottom .footer-social{margin-top:20px}}@media (max-width: 768px){.footer-area .single-footer-widget .newsletter .primary-btn{
    right:2% !important;width:auto;right:0;top:5px;transform:translate(0%, 0)}}
.single-footer-widget .navbar-form{width:100%}.single-footer-widget .navbar-form .form-control{border:none;border-radius:20px;font-size:13px}
.single-footer-widget .navbar-form .add-on{background:#fff;border-radius:20px}.single-footer-widget .navbar-form .genric-btn:hover{background-color:#f42f2c}
.single-footer-widget .navbar-form .genric-btn:hover .lnr{color:#fff}.single-footer-widget .navbar-form .lnr{font-weight:900;font-size:18px !important;color:#fff}.whole-wrap{background-color:#fff}.generic-banner{margin-top:60px;background-color:#f42f2c;text-align:center}.generic-banner .height{height:600px}@media (max-width: 767.98px){.generic-banner .height{height:400px}}.generic-banner .generic-banner-content h2{line-height:1.2em;margin-bottom:20px}@media (max-width: 991.98px){.generic-banner .generic-banner-content h2 br{display:none}}.generic-banner .generic-banner-content p{text-align:center;font-size:16px}@media (max-width: 991.98px)
{.generic-banner .generic-banner-content p br{display:none}}
