<div id='cssmenu' class="fixed-top">
    <ul>
        <li class='active'><a href='#'><span>Home</span></a></li>
        <li><a routerLink="/menu"><span>Menu</span></a></li>
        <li><a routerLink='/register'><span>Register</span></a></li>
        <li class='last'><a routerLink='/login'><span>Login</span></a></li>
    </ul>
</div>

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h4 class="text-white text-uppercase">Wide Options of Choice</h4>
                <h1>
                    Delicious Receipes
                </h1>
                <p class="text-white">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim.
                </p>
                <a routerLink="/menu" class="primary-btn header-btn text-uppercase">Check Our Menu</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start top-dish Area -->
<section class="top-dish-area section-gap" id="dish">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Top Rated Dishes</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid"
                         src="https://raw.githubusercontent.com/webdev-5610/FoodDelivery/master/dist/web5610/assets/uploads/d1.jpg"
                         alt="">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women
                    face higher conduct.
                </p>
            </div>
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid"
                         src="https://raw.githubusercontent.com/webdev-5610/FoodDelivery/master/dist/web5610/assets/uploads/d2.jpg"
                         alt="">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women
                    face higher conduct.
                </p>
            </div>
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid"
                         src="https://raw.githubusercontent.com/webdev-5610/FoodDelivery/master/dist/web5610/assets/uploads/d3.jpg"
                         alt="">
                </div>
                <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women
                    face higher conduct.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="team-area section-gap" id="chefs">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Meet Our Qualified Chefs</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid"
                         src="https://raw.githubusercontent.com/webdev-5610/FoodDelivery/master/dist/web5610/assets/uploads/t1.jpg"
                         alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Ethel Davis</h4>
                    <p>Managing Director (Sales)</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid"
                         src="https://raw.githubusercontent.com/webdev-5610/FoodDelivery/master/dist/web5610/assets/uploads/t2.jpg"
                         alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Rodney Cooper</h4>
                    <p>Creative Art Director (Project)</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid"
                         src="https://raw.githubusercontent.com/webdev-5610/FoodDelivery/master/dist/web5610/assets/uploads/t3.jpg"
                         alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid"
                         src="https://raw.githubusercontent.com/webdev-5610/FoodDelivery/master/dist/web5610/assets/uploads/t4.jpg"
                         alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Lena Keller</h4>
                    <p>Creative Content Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team Area -->

<div class="content">
</div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a routerLink="/register">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <!-- Here we use the Google Embed API to show Google Maps. -->
        <!-- In order for this to work in your project you will need to generate a unique API key.  -->
        <iframe id="map-container" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOwg_06VPwokRYv534QaPC8g&key=AIzaSyBdJm9Amm4KALkKlZObWn40dcpRyH119zg" >
        </iframe>
    </div>
    <div class="social-networks">
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© 2019 Copyright NEU CS5610 Lulin Zhang </p>
    </div>
</footer>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
