<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="../../orderhistory" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
        Order details
      </h1>
    </div>
  </div>
</nav>

<div class="container website-new-content">
  <div class="card order-card">
    <div class="card-header">
      <strong>{{status}}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{order.userAddress}}</h5>
      <div><strong>Time</strong> {{order.time}}</div>
      <div><strong>User: </strong> {{order.user}}</div>
      <div><strong>User Address: </strong> {{order.userAddress}}</div>
      <div><strong>User Phone Number: </strong> {{order.phone}}</div>
      <div><strong>Deliver</strong> {{order.deliverId}}</div>
      <div><strong>Status:</strong> {{status}}</div>
      <br>
      <div><strong>Details:</strong></div>
      <table class="table table-responsive table-bordered ">
        <thead>
        <tr>
          <th scope="col">#</th>
          <!--<th scope="col">Date</th>-->
          <th scope="col">Dish</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody *ngFor="let dish of order.dishes; index as i">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <!--<td>{{order.time}}</td>-->
          <td>{{dish.dish}}</td>
          <td>{{dish.price}}</td>
          <td>{{dish.quantity}}</td>
        </tr>
        </tbody>
      </table>
      <div><strong>Total: $</strong>{{order.total}}</div>
      <br>
    </div>
  </div>
  <nav class="navbar fixed-bottom cl-grey-navbar">
    <div class="container-fluid justify-content-end">
      <a routerLink="restaurant/home" class="navbar-brand cl-text-black cl-icon-padding">
        <span class="fas fa-user"></span>
      </a>
    </div>
  </nav>
</div>
