<div>
    <nav class="navbar fixed-top cl-blue-navbar">
      <div class="container">
          <div class="navbar-text">
              <a routerLink="/deliver/{{userId}}/home" class="cl-text-white cl-icon-padding">
                <span class="fas fa-chevron-left fontawsome_icon"></span>
              </a>
            </div>
        <div class="cl-text-white navbar-brand cl-text-bold">
          Detail
        </div>
        <a routerLink="/delivery/{{userId}}/profile" class="cl-text-white cl-icon-padding pull-right cl-text-bold">
          <div class="alert alert-warning nav-btn" role="alert">
            Profile
          </div>
        </a>
      </div>
    </nav>
  
    <div class="container website-new-content">
        <div class="card order-card">
          <div class="card-header">
              <strong>{{status}}</strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{order.userAddress}}</h5>
            <div><strong>User</strong> {{order.user}}</div>
            <div><strong>User Address:</strong> {{order.userAddress}}</div>
            <div><strong>User Phone Number:</strong> {{order.phone}}</div>
            <div><strong>Time</strong> {{order.time}}</div>
            <div><strong>Status:</strong> {{status}}</div>
            <br>
            <div><strong>Details:</strong></div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                      <th scope="col">Dish</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
              <tbody *ngFor="let dish of order.dishes">
                <tr>
                  <th scope="col">{{dish.dish}}</th>
                  <td>{{dish.quantity}}</td>
                  <td>{{dish.price}}</td>
                </tr>
              </tbody>
            </table>
            <div><strong>Total: $</strong>{{order.total}}</div>
            <br>
            <div><strong>Distance:</strong> {{distance}}</div>
            <br>
            <button type="button" class="btn btn-warning pull-right deliver-btn" *ngIf="order.status==2" (click)="acceptOrder()">Accept</button>
            <button type="button" class="btn btn-success pull-right deliver-btn" *ngIf="order.status==3" (click)="completeOrder()">Complete</button>
            <button type="button" class="btn btn-info pull-right deliver-btn" *ngIf="order.status==3" (click)="cancelOrder()">Cancel</button>
            <div class="row">
              <div class="col-10">
                <agm-map [latitude]="lat" [longitude]="lng" style="height: 600px">
                  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" [markerOptions]="markerOptions" [renderOptions]="renderOptions"></agm-direction>
                </agm-map>
              </div>
            </div>
          </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom cl-blue-navbar">
      <div class="container">
        <div class="cl-text-white navbar-brand cl-text-bold navbar-header-text">
          Deliver
        </div>
      </div>
    </nav>
    
</div>