<div *ngIf="errorFlag"
     class="alert alert-danger text-center">
  {{errorMsg}}
</div>

<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="/user/{{userId}}/profile" class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
        Check out
      </h1>
    </div>
    <a (click)="updateOrder()" class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>

<div class="container cl-container-padding-more">
  <div class="container cl-container-padding-more">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Dish name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Picture</th>
        <th scope="col"></th>
      </tr>
      </thead>
  <tbody *ngFor="let dish of order.details.dishes; index as i">
        <p>{{dish.dish_name}}</p>
        <p>{{dish.price}}</p>
        <p>{{order.details.quantity[i]}}</p>
        <img class="img-responsive img-rounded cl-widget-images" src="{{dish.url}}">
        <div class="form-group">
          <label for="dish-num">Quantity</label>
          <input [(ngModel)]="order.details.quantity[i]"
                 name = "quantity"
                 type="text"
                 class="form-control"
                 id="dish-num"
                 placeholder="quantity"/>
          <button type="submit" class="btn btn-block btn-primary">change quantities</button>
        </div>

      </tbody>
  <button class="btn btn-danger  btn-block" (click)="deleteOrder()">Delete</button>
</div>



<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid justify-content-end">
    <a routerLink="restaurant/home" class="navbar-brand cl-icon-padding cl-text-blue">
      <span class="fas fa-user"></span>
    </a>
  </div>
</nav>
