.container-margin-bottom {
    margin-bottom: 80px;
}

#menu {
    font:12px verdana, arial, sans-serif;
}
#menu, #menu li {
    list-style:none;
    padding:0;
    margin:0;
}
#menu li {
    float:left;
}
#menu li a {

}
#menu li a span{

    display: inline-block;
    font-size: 18px;
    width: 200px;
    text-align: center;
    line-height: 60px;
    font-weight: 800;
    cursor: pointer;


}
#menu li a:hover {

}
#menu li a.last {

}

