<div *ngIf="userErrorFlag"
     class="alert alert-danger text-center">
  {{errorMsg}}
</div>

<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="cl-text-black navbar-brand cl-text-bold">
        User Profile
      </h1>
    </div>

    <div class="navibar-header">
      <a (click)="updateUser(user)" style="cursor:pointer" class="navbar-brand ml-auto">
        <i class="fas fa-check cl-text-white"></i>
      </a>
    </div>

  </div>
</nav>

<div class="container container-margin-bottom">
  <p> Account info</p>
  <div class="form-group cl-text-bold">
    <label>Username</label>
    <input [(ngModel)]="user.username" name="username" type="text" class="form-control" placeholder="alice">
  </div>
  <div class="form-group cl-text-bold">
    <label>Email address</label>
    <input [(ngModel)]="user.email" name="email" type = "email" class="form-control" placeholder="abc@gmail.com">
  </div>
  <div class="form-group cl-text-bold">
    <label>Phone</label>
    <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control" placeholder="Alice">
  </div>

  <p>user Information</p>
  <div class="form-group cl-text-bold">
    <label>Password</label>
    <input [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="Wander">
  </div>

  <div class="form-group cl-text-bold">
    <label>Address</label>
    <input [(ngModel)]="user.address" name="address" type="text" class="form-control" placeholder="Wander">
  </div>
  <div class="form-group cl-text-bold">
    <label>Credit card info</label>
    <input [(ngModel)]="user.credit_card_info" name="credit_card_info" type="text" class="form-control" placeholder="Wander">
  </div>
  <div class="form-group cl-text-bold">
    <label>Billing info</label>
    <input [(ngModel)]="user.billing_info" name="billing_info" type="text" class="form-control" placeholder="Wander">
  </div>
  <button class="btn btn-primary btn-block"
          routerLink="../orderhistory">Order History
  </button>
  <button class="btn btn-danger  btn-block"
          (click)="logout()" routerLinkActive="active">Logout
  </button>
  <!--<button class="btn btn-danger  btn-block"-->
  <!--(click)="deleteUser()" routerLinkActive="active">Delete-->
  <!--</button>-->

</div>


<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="btn-group">
    <ul class="nav navbar-nav">
      <li>    <a routerLink="/menu" class="navbar-brand cl-text-black cl-icon-padding">
        <span class="fas fa-home"></span>
      </a></li>
      <li>    <a routerLink="/user/{{userId}}/orderhistory" class="navbar-brand cl-text-black cl-icon-padding pull-left">
        <span class="fas fa-history"></span>
      </a></li>
    </ul>
  <div>
    <a routerLink="/user/{{userId}}/profile" class="navbar-brand cl-text-black cl-icon-padding float-right">
      <span class="fas fa-user"></span>
    </a>
  </div>
  </div>
</nav>


