<div>
  <nav class="navbar fixed-top cl-blue-navbar">
    <div class="container">
      <div class="cl-text-white navbar-brand cl-text-bold">
        Home
      </div>
      <a routerLink="/user/{{userId}}/website/new" class="cl-text-white cl-icon-padding pull-right cl-text-bold">
        <div class="alert alert-warning nav-btn" role="alert">
          Profile
        </div>
      </a>
    </div>
  </nav>

  <div class="container">
    <ul class="list-group">
      <li *ngFor="let order of orders" class="list-group-item list-group-item-success">
        <button class="alert alert-warning pull-right" (click)="detail(order)">detail</button>
        <div>User: {{order.user}}</div>
        <div>User Address: {{order.userAddress}}</div>
        <div>Restaurant: {{order.restaurant}}</div>
        <div>Time: {{order.time}}</div>
        <div >Status: active</div>
      </li>
    </ul>
  </div>

  <nav class="navbar fixed-bottom cl-blue-navbar">
    <div class="container">
      <div class="cl-text-white navbar-brand cl-text-bold navbar-header-text">
        Deliver
      </div>
    </div>
  </nav>
</div>
