<nav class="navbar fixed-top cl-grey-navbar">
  <div class="container-fluid">
    <div>
      <a routerLink="../home"
         class="navbar-brand cl-text-black cl-icon-padding">
        <i class="fas fa-angle-left"></i>
      </a>
      <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
        Order History
      </h1>
    </div>
    <a routerLink="./menu"
       class="navbar-brand cl-text-black float-right cl-icon-padding">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</nav>

<div class="container cl-container-padding-more">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <!--<th scope="col">Date</th>-->
      <th scope="col">Total</th>
      <th scope="col">Details</th>
    </tr>
    </thead>

    <tbody *ngFor="let order of orders; index as i">
    <tr>
      <th scope="row">{{i + 1}}</th>
      <!--<td>{{order.time}}</td>-->
      <td>{{order.total}}</td>
      <td><a routerLink="/user/{{user._id}}/order/{{order._id}}" class="badge badge-info">click to view</a></td>
    </tr>
    </tbody>
  </table>

</div>

<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid">
    <a routerLink="/menu" class="navbar-brand cl-text-black cl-icon-padding">
      <span class="fas fa-home"></span>
    </a>
    <div>
      <a routerLink="/user/{{userId}}/profile" class="navbar-brand cl-text-black cl-icon-padding float-right">
        <span class="fas fa-user"></span>
      </a>
    </div>
  </div>
</nav>
