<div *ngIf="loginErrorFlag"
     class="alert alert-danger text-center">
    {{loginErrorMsg}}
</div>
<div *ngIf="loginErrorFlag2"
     class="alert alert-danger text-center">
    {{loginErrorMsg2}}
</div>

<nav class="navbar fixed-top cl-grey-navbar">
    <div class="container-fluid">
        <div>
            <a routerLink=".."
               class="navbar-brand cl-text-black cl-icon-padding">
                <i class="fas fa-angle-left"></i>
            </a>
            <h1 class="navbar-brand cl-text-black cl-text-bold cl-text-grey">
                Menu
            </h1>
        </div>
        <a (click)="checkout()" class="button1">Check Out</a>
    </div>
</nav>

<div class="container cl-container-padding-more">
    <div class="section-top-border">
    <div *ngFor="let dish of dishes">

        <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <img src="{{dish.url}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 mt-sm-20">
                        <div style="clear: both">
                            <h3 style="float: left">{{dish.dish_name}}</h3>
                            <h3 style="float: right">$ {{dish.price}}</h3>
                        </div>
                        <hr />
                        <p>{{dish.description}}</p>
                    </div>
                    <div class="float-right col-md-3">
                        <button class="btn-primary btn-block btn-sm"
                                type="submit"
                                (click)="addToShoppingCart(dish)">Add to Cart
                        </button>
                    </div>
                </div>
            <p></p>
            <p></p>
            </div>
        </div>
    </div>

</div>
<br/>
<br/>
<br/>

<nav class="navbar fixed-bottom cl-grey-navbar">
        <ul class="nav nav-tabs" id = "menu">
            <li class = "nav-item">    <a (click)="menu()" class="navbar-brand cl-text-black cl-icon-padding">
                <span class="fas fa-home"></span>
            </a></li>
            <li class = "nav-item">    <a (click)="orderhistory()" class="navbar-brand cl-text-black cl-icon-padding pull-left">
                <span class="fas fa-history"></span>
            </a></li>
        </ul>
    <form class="form-inline my-2 my-lg-0">
        <a (click)="profile()"class="navbar-brand cl-text-black cl-icon-padding float-right">
            <span class="fas fa-user"></span>
        </a>
    </form>

</nav>



